button {
      font-size: 4vw;
    }

    @media screen and (min-width: 601px) {
      button {
        font-size: 1.5vw;
      }
    }

    img {
      Padding: 50px, 0px /* padding positions */
    }