table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      /* width: 100%; */
    }

    td,
    th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 2px;
    }

    tr:nth-child(even) {
      background-color: #dddddd;
    }


    * {
      box-sizing: border-box;
    }

    .row {
      /* display: flex; */
    }

    .column {
      flex: 50%;
      padding: 5px;
    }

    body {
      font-family: arial;
      font-size: 10px;
      height: 297mm;
      width: 210mm;
      margin-left: auto;
      margin-right: auto;
      margin-top: 0;
      margin-bottom: 0;
      background: #FFF;
      background-image: url('../img/32033.png');
      background-position: top right;
      background-position: 95% 5px;
      background-repeat: no-repeat;
      background-attachment: fixed;
    }

    .single_record {
      page-break-after: always;
    }

    .button {
      background-color: #4CAF50;
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
    }

    @media print {
      #printPageButton {
        display: none;
      }

      @page {
        size: auto;
        /* auto is the initial value */
        margin: 2mm 4mm 0mm 0mm;
        /* this affects the margin in the printer settings */
      }

      table.main thead {
        display: table-header-group;
      }

      * {
        -webkit-print-color-adjust: exact;
      }
    }