@media screen {
  table.main td:nth-last-child(-n + 2) {
    display: none
  }

  table.main th:nth-last-child(-n + 2) {
    display: none
  }

  tr:nth-child(even) {
    background-color: #555555;
    color: white;
  }

  tr:nth-child(odd) {
    color: white;
  }

  table .grid {
    max-width: 33%;
  }

  .playername {
    color: lightblue;
  }
}

body {
  background: #262e3e;
  color: white;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  color: white;
}

.grid {
  display: grid;
  gap: 40px;
  grid-template-columns: 1fr 1fr 1fr;
}

  table a:link{
    color: cyan;
  }
  table a:visited{
    color: #dc0bff;
  }

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 2px 4px;
  font-size: 16px;
}

.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}


.backButton {
  background-color: rgb(247 54 9);
  border: 1px outset buttonborder;
  color: white !important;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.deactivateButton {
  background-color: rgb(131, 26, 2);
  border: 1px outset buttonborder;
  color: white !important;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

a.deactivateButton {
  background-color: rgb(131, 26, 2);
  border: 1px outset buttonborder;
  color: white !important;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.cancelButton {
  background-color: orange;
  border: 1px outset buttonborder;
  color: black;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.hidden-text {
  display: none;
}


@media print {
  #event_chooser{
    display: none;
  }
  #printButton{
    display: none;
  }
  #printPageButton {
    display: none;
  }
  #backButton{
    display: none;
  }

  #CopyEmailButton {
    display: none;
  }

  #SortBy {
    display: none;
  }

  .row {
    display: flex;
    margin-left: -5px;
    margin-right: -5px;
  }

  .column {
    flex: 50%;
    padding: 5px;
  }

  .playername {
    color: black;
  }

  .inschrijf_datum {
    display: none;
  }


  * {
    box-sizing: border-box;
    -webkit-print-color-adjust: exact;
  }

  body {
    background-color: #fff;
    color: #000;
    font-size: 10px;
  }

  table {
    color: #000;
    border-collapse: collapse;
    padding: 1px 5px;
    font-size: 8px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }

  td,
  th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 0px 0px;
    font-size: 10px;
  }

  .single_record {
    page-break-after: always;
  }
}